<div class="container">
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <img src="assets/logo.png"id="icon" alt="Airis">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required email>
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Email inválido
            </mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              La contraseña es requerida
            </mat-error>
          </mat-form-field>
        
          <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
        </form>
        <div *ngIf="messages" class="error-message">
          {{ messages }}
        </div>
        
    </div>
</div>

  