<div class="container mt-4">
  <div class="tab-content">
      <div class="tab-pane fade show active" id="proyectos">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#compras" data-toggle="tab">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ventas" data-toggle="tab">Ventas</a>
            </li>
        </ul>
        <div class="tab-content mt-2">
          <div class="tab-pane fade show active" id="compras">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link active" href="#ventas-mes" data-toggle="tab">Proyectos</a>
              </li>
            </ul>
            <div class="tab-content mt-2">
              <div id="map"></div>
            </div>
          </div>
          <div class="tab-pane fade" id="ventas">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link active" href="#ventas-mes" data-toggle="tab">Estadísticas</a>
              </li>
            </ul>
            <div class="tab-content mt-2">
              <div class="tab-pane fade show active" id="ventas-mes">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Mes</th>
                              <th>Total de Venta</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Enero</td>
                              <td>$1000</td>
                          </tr>
                          <tr>
                              <td>Febrero</td>
                              <td>$1500</td>
                          </tr>
                          <!-- Agrega el resto de los meses -->
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
